

body {
	font-family: 'Roboto Mono', sans-serif;
    font-size:18px;
	margin: 0;
    padding: 0;
	overflow-x: hidden;
}

.main_nav {
	white-space: nowrap;
	overflow: visible;
    margin:0;
}

.marquee {
    /*width: 100%;*/
    margin: 0 auto;
    /*overflow: hidden;*/
    position: fixed;
    left: 0;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 4s linear infinite;
    color: #000;
    background-color: #fff;
    height:60px;
    z-index: 10;
}

@keyframes marquee {
    0%   { left: 0%;
    }
    100% { left:-537px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li{
    /*font-family: Monospace;*/
    color:black;
    font-size: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-size: 144px;
    font-weight: 400;
    line-height: 80px;
    margin:0px;
    padding-top: 90px;
}


.city a:hover {
  background-color: #FFFF33;
}


.bar {
    width:20%;
    height:60px;
    background-color:#000;
    bottom:0;
    right:0;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
}

h2 {
    color:#fff;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.info {
    width:28%;
    margin:auto;
    padding-top: 90px;
    vertical-align: middle;

}

.info h2 {
    font-size: 60px;
    color:#000;
}

h3 {
    vertical-align: middle;
    text-align: center;
}


p {
    vertical-align: middle;
    text-align: center;
}

.about {
    background-color: #000;
}


.white {
    color:#fff;
}

.bar a {
    color:#fff;
}


.main_nav .about {
    background-color:#000;
}

.about_us p {
    color:#fff;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;
    width:30%;
    padding-top: 10%;
}

.about h2 {
    color:#fff;
}



